<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Management Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreProject1.styles.css" asp-append-version="true" />
    <link href="~/js/toastr.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
</head>
<body>
    <div class="container-fluid">

        <div class="row no-g">

            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="height:100vh; position:fixed; background-color:#146261">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="DashBoard">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="Students">Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="Teachers">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="LibraryBookManagement">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="Classes">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="FeeReport">FeeReport</a>
                        </li>    <li class="nav-item">
                            <a class="nav-link text-white p-3" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 col-lg-10 ms-sm-auto" style="padding:0px;">
                @RenderBody()
                @RenderSection("Scripts", required: false)
                <footer class="text-center">
                    <p>&copy; @DateTime.Now.Year - Developed by Trilok Chand Swami</p>
                </footer>
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbJquerytable').DataTable({
                paging: true,
                responsive: true,
                scrollY: "300px"
            });
        });
    </script>
</body>
</html>
