@model List<CoreProject1.Models.Student>

<style>
    .DashboardChart {
        align-items: center;
        justify-content: center;
    }

    .DashBoardBorder {
        border: 1px solid black;
    }
</style>
<script src="~/js/highcharts.js"></script>
<script src="~/js/highchartexporting.js"></script>
<script src="~/js/highchartexportdata.js"></script>
<script src="~/js/highchartaccessibility.js"></script>
<div style="height: 100% ">
    <br />
    <div class="text-center">School DashBoard</div>
    <div class="DashBoardBorder">
        <div>
            <br />
            <div class="col-md-12 d-block ">
                <div class="text-center mainStDashboard">
                    Students Configuration
                </div>
                <div class="d-flex text-center DashboardChart">
                    <div class="col-md-6 mainStDashChild">
                        <figure class="highcharts-figure">
                            <div id="container"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="DashBoardBorder">
        <div>
            <div class="col-md-12 d-block ">
                <div class="text-center mainStDashboard">
                    Teacher Configuration
                </div>
                <div class="d-flex text-center DashboardChart">
                    <div class="col-md-6 mainStDashChild">
                        <figure class="highcharts-figure">
                            <div id="containerChart"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/studenthighchart.js"></script>
<script src="~/js/teacherhighchart.js"></script>