<style>
    .alignSet {
        padding: 50px;
        background-color: #e0e0e0;
        text-align: center;
    }

    .alignSet-Center {
        font-family: cursive;
        font-size: 45px;
        color: red;
    }

    .alignColor {
        color: blue;
    }
</style>

<div class="alignSet">
    <div class="d-inline-flex">
        <div class="alignSet-Center"> Welcome to our <span class="alignColor">School Management System</span> .</div>
    </div>
</div>
